<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem de Sucesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Melhor Amigo Petshop</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Produtos</a>
            <a href="/gallery">Galeria</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <div class="container">
        <h2>Mensagem Enviada!</h2>
        <p>Agradecemos seu interesse em nossos serviços! Em breve entraremos em contato.</p>
        <a href="/" class="cta-button">Voltar para a Home</a>
    </div>
    <footer>
        <p>&copy; 2024 Melhor Amigo Petshop - Direitos Reservados <a href="https://github.com/licyafreoli">Rossana Lícya</a></p>
    </footer>
</body>
</html>
